.article {
    &__tags-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
    }

    &__tag {
        background: rgb(244, 240, 236);
        color: rgb(41, 47, 54);
        border-radius: 10px;
        border: 1px solid rgb(244, 240, 236);
        padding: 9px 30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 125%;
        text-align: center;
    }

    &__tag:hover {
        background: #292F36;
        color: rgb(255, 255, 255);
    }

    &__tag_active {
        background-color: #292F36;
        color: rgb(255, 255, 255);
    }
}